# Banco de dados (Exemplos: SQLite, dumps de SQL)
*.db.sqlite3
*.db
*.sql
/db/

# Variáveis de Ambiente (Segurança)
.env
.env.local
.env.*

# Ambiente Virtual (Python)
venv/
.vem/
env/
ENV/

# Configurações do VS Code
.vscode/